asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==4.2.30
django-allauth==65.18.0
django-countries==9.0.0
django-crispy-forms==2.5
idna==3.18
pillow==12.2.0
pycparser==3.0
PyJWT==2.13.0
requests==2.34.2
sqlparse==0.5.5
stripe==15.2.1
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
